.sidebar {
  background-color: #181818;
  position: fixed;
  height: 100%;
  width: 18%;
  min-width: 80px;
  overflow-y: scroll;
  float: left;
  text-align: center;
}

/* Glenda Salas */
.sidebar-header {
  font-family: "Nova Slim", cursive;
  font-size: 3.8vw;
  padding-top: 8px;
  color: rgb(88, 75, 172);
}

/* links */
.sidebar-nav {
  font-size: 3vw;
  text-align: center;
}

#portrait {
  width: 70%;
  border-radius: 200px;
}

.page-content {
  height: 100%;
  margin-left: 18%;
  text-align: center;
  font-size: 30px;
}

.intro {
  background-image: url("images/introbg.jpg");
  box-shadow: inset 0 0 0 2000px rgba(41, 38, 58, 0.768);
  padding-top: 50px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 50px;
  font-size: 44px;
}

.content-header {
  font-size: 45px;
  color: rgb(88, 75, 172);
  background-color: #292929;
}

.content-body {
  padding-top: 25px;
  padding-bottom: 35px;
}

body {
  /* rgb(141, 152, 182); */
  color: rgb(117, 126, 151);
  font-family: "Economica", sans-serif;
  background-color: rgb(34, 34, 34);
}

.extra {
  padding-bottom: 50px;
}

#credits {
  font-size: 15px;
}

a:hover {
  color: rgb(88, 75, 172);
}

a {
  padding-right: 2px;
  padding-left: 3px;
  color: rgb(117, 126, 151);
  text-decoration: none;
  text-align: 25px;
  display: inline-block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* background-color: transparent; */
  background-color: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(40, 38, 75);
  /* background-clip: content-box; */
  border-radius: 20px;
  border: 6px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(55, 59, 109);
}
